<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="{{ asset('build/app.js') }}"></script>

		<link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
		<link rel="stylesheet" href="https://unpkg.com/react-select@1.2.1/dist/react-select.css">
	</head>
	<body>
		<div>{% block body %}{% endblock %}</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>
